name: Rasmus Groth, @bliiir
# markdown: kramdown
# theme: jekyll-theme-cayman
theme: jekyll-theme-architect
permalink: /blog/:year/:month/:day/:title
defaults:
  - scope:
      path: ""
    values:
      layout: default
